@import "https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css";

/*
* Geral
*/
:root {
  --primary: #9DA65D;
  --secondary: #2D77A6;
  --utils: #F2F2F2;
}

body {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    color: var(--utils);
}

h1, h2, h3 {
    margin: 0;
    font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.button {
    color: var(--utils);
    text-decoration: none;
    padding: 10px 30px;
    background-color: var(--secondary);
    font-size: .9em;
    border-radius: 3px;
}

/*
* Nav
*/
nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #4B6CD8;
}

.wrapperNav{
    display: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 20px;
}

nav a h1 {
    position: relative;
    top: 10px;
    text-decoration: none;
    color: var(--utils);
    font-weight: 700;
    font-size: 1.5em;
    font-family: Arial, serif;
    margin: 0;
}

.material-icons{
    position: absolute;
    right: 5px;
    top: 6px;
    font-size: 40px;
}

#home{
    position: absolute;
    left: 5px;
    top: 3px;
    font-size: 40px;
    z-index: 10;
}

#id {
    display: block;
    float: right;
    margin-right: 10px;
}

/*
* Header
*/

header {
    background-image: url(../../files/images/book2.jpg);
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* filter: blur(4px); */
}

.backgroundBlack {
    z-index: 2;
    position: absolute;
    top: 10%;
    width: 100%;
    height: 400px;
    background-color: rgba(0,0,0,0.5);
}

.wrapperHeader{
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.wrapperHeader h1, h3, p{
    z-index: 4;

}

header h1{
    font-size: 3.5em;
}

header h3{
    font-size: 2em;
}

header p {
    margin-bottom: 2em;
}

/*
* #App
*/

.container{
    position: relative;
    /* background-color: rgb(102, 102, 102); */
    height: 100%;
    width: 90%;
    margin: auto;
    margin-top: 3%;
}

.wrapper{
    position: relative;
    height: 20%;
    width: 45%;
    float: left; 
    background-color: #2E8111;
    margin: 2.5% 2.5% 2.5% 2.5%;
    border-radius: 5px;
    font-size: 1.5em;
    text-align: center;
}

.container .wrapper:nth-child(12) {
    opacity: 0;
}

/*
* Footer
*/

footer {
    position: absolute;
    bottom: 0;
    margin-top: 50%;
    margin-bottom: 3%;
    text-align: center;
    width: 100%;
    height: 5%;
    color: #000;
}

.containerLogin{
    position: relative;
    width: 70%;
    height: 30%;
    margin: auto;
    color: #000;
}

.containerLogin p:nth-child(1){
    font-size: 2em;
    text-align: center;
    margin: 0;
    margin-top: 40px;
}

.containerLogin p:nth-child(2){
    font-size: 1.2em;
    text-align: center;
    margin: 0;
}

#principal{
    position: relative;
    width: 90%;
    height: 100%;
    /* background-color: brown; */
    margin: auto;
}

form a p {
    color: #ff0000;
}

#btnEntrar{
    background-color: #2E8111;
    width: 100%;
    height: 40px;
    color: #fff;
    font-size: 1.2em;
    border-radius: 10px;
    text-decoration: none;
    outline: none;
    /* background-color: transparent; */
    cursor: pointer;
}